/* Index Section */

#header-index
  background: url(/images/header01.jpg) no-repeat center center
  background-size: cover

#hero01
  background: url(/images/hero01.jpg) no-repeat center center
  background-size: cover

#hero02
  background: url(/images/hero02.jpg) no-repeat center center
  background-size: cover

#hero03
  background: url(/images/hero03.jpg) no-repeat center center
  background-size: cover
